@media only screen and (max-width : 376px) {
    html {
        font-size: 43%;
    }
}
@media only screen and (max-width : 321px){
    html {
        font-size: 36%;
    }
}
@media only screen and (min-width: 335px) and (max-width : 345px) {
    html {
        font-size: 40%;
    }
}
@media only screen and (min-width : 400px) and (max-width : 426px) {
    html {
        font-size: 48%;
    }
}
@media only screen and (min-width : 767px) and (max-width: 900px){
    html {
        font-size: 57%;
    }
}